.__non-favorite {
	cursor: pointer;
	display: flex;
	background: url("./img/heart_outline.png") no-repeat;
	align-self: flex-start;
	margin: 4px;
	padding: 1rem;
	background-size: 1.5rem;
}

.__favorite {
	cursor: pointer;
	display: flex;
	background: url("./img/heart_solid.png") no-repeat;
	align-self: flex-start;
	margin: 4px;
	padding: 1rem;
	background-size: 1.5rem;
}
