.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__logo {
		align-items: center;

		& .beer-logo {
			padding-right: 5px;
			content: url("../../images/symbol.png");
		}

		& .beerup-logo {
			content: url("../../images/logo.png");
		}
	}

	&__menu {
		display: flex;
		width: 30rem;
		justify-content: space-between;
		align-items: center;

		color: white;
		font-size: 1.25rem;
		font-weight: 700;
		box-sizing: border-box;

		:not(:last-child) {
			cursor: pointer;
		}

		.nav-link {
			color: white;
			text-decoration: none;
		}

		.nav-link:hover {
			color: white;
			text-decoration: none;
			border-bottom: 2px solid #f9c847;
			border-bottom-left-radius: 1px;
			border-bottom-right-radius: 1px;
		}

		.join-link {
			color: white;
			text-decoration: none;

			border: 3px solid #f9c847;
			border-radius: 35px;
			padding: 1.25rem 3.75rem;
			cursor: pointer;
		}
	}
}
